{% extends 'base.html.twig' %}

{% block title %}New Texmexs{% endblock %}

{% block body %}
    <h1>Create new Texmexs</h1>

    {{ include('texmexs/_form.html.twig') }}

    <a href="{{ path('app_texmexs_index') }}">back to list</a>
{% endblock %}
