{% extends 'base.html.twig' %}

{% block title %}New Burgers{% endblock %}

{% block body %}
    <h1>Create new Burgers</h1>

    {{ include('burgers/_form.html.twig') }}

    <a href="{{ path('app_burgers_index') }}">back to list</a>
{% endblock %}
