{% extends 'base.html.twig' %}

{% block title %}Edit Sandwichs{% endblock %}

{% block body %}
    <h1>Edit Sandwichs</h1>

    {{ include('sandwichs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sandwichs_index') }}">back to list</a>

    {{ include('sandwichs/_delete_form.html.twig') }}
{% endblock %}
