<h1>Rénitialiser votre mot de passe ✅ </h1>
<p>Bonjour {{ user.email }},</p>
<p>Pour réinisialiser votre mot de passe sur le site lagrilladerie cliqué sur le lien ci-dessous : <a href="{{url|raw }}">{{url|raw}}</a></p>
