{% extends 'base.html.twig' %}

{% block title %}Bonjour test!{% endblock %}

{% block body %}
<section class="slide_section">
<div class="form">
<p> <strong>Paiement reussi !</strong></p> 
<p> Commande en cours de préparation !</p>
</div>

</section>
    
{% endblock %}