{% extends 'base.html.twig' %}

{% block title %}Bonjour test!{% endblock %}

{% block body %}
<div class="form">
<img src="{{ asset('assets/images/l.png') }}" alt="">
<p> <strong>Paiement reussi !</strong></p> 
<p> Commande en cours de préparation !</p>
</div>



{% endblock %}